body { 
    background-color: #515c96;
}

h2{
    display: flex;
    
}

.form-container {
    display: flex;
    
}

.form {
    height: 280px;
    width: 400px;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    background: #93a1d1;
}

input, select {
    
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.wys{
    background-color: #38aa97;
    width: 120px;
    color: #fff;
    padding: 10px 10px;
    
}

.lis{
    background-color: #444e7e;
    padding: 10px 10px;
}
